@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.rotate-130{
    transform: rotate(130deg)
}

.h-90{
    height:90vh
}

.h-10{
    height:10vh;
}

.gradient{
background: rgb(143,24,131);
background: linear-gradient(42deg, rgba(143,24,131,1) 0%, rgba(129,32,157,1) 4%, rgba(110,36,166,1) 8%, rgba(91,39,175,1) 18%, rgba(60,35,175,1) 40%, rgba(76,52,215,1) 75%, rgba(94,103,249,1) 89%, rgba(97,113,255,1) 100%);
}


 .nice-text::after{
  background: #d8630f;
  content: "";
  height: 5px;
  left: 0;
  width: 280px;
  bottom: -16px;
}


.perspective{
    perspective:800px;
}
/*
.front{
    transform: rotateY(0deg);
    transition-duration: 1s;
}

.front2{
    transform: rotate3d(0,1,0,180deg) translate(0px);
    transition-duration: 1s;
}

.back{
    transform: rotateY(180deg) translateZ(1px);
    transition-duration: 1s;

}

.back2{
    transform: rotate3d(0,1,0,360deg) translate(1px);
    transition-duration: 1s;

}

.rotate{
    transition-duration: 1s;
    position:relative;
    width:100%;
    height:100%;
    transform-style: preserve-3d;
}


.rotate2{
    transform: rotate3d(0,1,0,180deg);
    transition-duration: 1s;
    transform-style: preserve-3d;
}

*/
.rotate{
   transform: rotateY(0deg);
    transition-duration: 1s;
    transform-style: preserve-3d;
}

.rotate:hover{
   transform: rotateY(20deg);
    cursor:pointer;
}

.rotate2:hover{
    cursor:pointer;
}


.rotate2{
   transform: rotateY(180deg);
    transition-duration: 1s;
    transform-style: preserve-3d;
}

.face {
  position:absolute;
}


.back {
  transform: rotateY(180deg) translateZ(1px);
}

.slide{
    transition-duration: 0.5s;
}

.slide-parent{
}

.slide-parent:hover .slide{
    transform: translateY(-20rem);

}
